@import url(https://fonts.googleapis.com/css?family=Raleway:400,700);

html, body { height: 100%; }

body {
  background-image: url(../img/table.png) ;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: black;
  font-family: 'Raleway', sans-serif;
}

li {
  list-style: none;
  color: white;
  left: 0;
  /*border: 1px solid white;*/
}

#container {
  position: absolute;
  left: 10%;
  width: 80%;
  height: 80%;
  margin: 50px auto 0 auto;
  /*border: 1px solid green;*/
}

#message_log {
  position: absolute;
  float: right;
  clear: both;
  top: 0;
  /*border: 1px solid teal;*/
  height: 80%;
  width: 12%;
  right: 10px;
}

.message {
  width: 100%;
  padding: 5px 0;
}

#house {
  position: relative;
  width: 70%;
  margin: 20px auto 0 auto;
  border: 3px solid white;
  border-radius: 5px;
  box-shadow: 0px 0px 10px #fff;
}

#player {
  position: relative;
  width: 70%;
  margin: 0 auto 20px auto;
  border-left: 3px solid white;
  border-right: 3px solid white;
  border-bottom: 3px solid white;
  border-radius: 5px;
  box-shadow: 0px 0px 10px #fff;
}

#house_cards {
  height: 100px;
  width: 80%;
  margin: 22px auto 100px auto;
  /*border: 1px solid orange;*/
}

#deck {
  position: absolute;
  right: 0;
  top: 0;
  /*border: 1px solid olive;*/
  height: 100px;
  width: 60px;
  margin: 10px 10px 0 0;
}

#player_cards {
  height: 100px;
  width: 80%;
  margin: 100px auto 22px auto;
  /*border: 1px solid magenta;*/
}

#player_bank {
  padding: 0;
  margin: 0;
  display: inline;
  top: 0;
  color: white;
}

.btn {
  position: absolute;
  display: inline-block;
  height: 20px;
  width: 40px;
  padding: 0 10px;
  color: #FFF;
  text-align: center;
  font-size: 8pt;
  line-height: 20px;
  letter-spacing: .2em;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #757575;
  border-radius: 4px;
  /*border: 1px solid #757575;*/
  transition: all 0.5s;
}

.btn:hover {
  background-color: #9E9E9E;
  cursor: pointer;
}

#hit {
  margin: 10px 10px 0 0;
  top:0;
  right: 0;
}

#stand {
  margin: 20px 10px 0 0;
  top: 20px;
  right: 0;
}

#start {
  margin: 10px 10px 0 0;
  top: 0;
  right: 0;
}

#new {
  margin: 10px 10px 0 0;
  height: 40px;
  top: 0;
  right: 0;
}

#bet_25 {
  top: 0;
  margin: 10px 0 0 10px;
  width: 50px;
  white-space: nowrap;
}

#bet_50 {
  top: 20px;
  margin: 20px 0 0 10px;
  width: 50px;
  white-space: nowrap;
}

#bet_all {
  top: 30px;
  margin: 40px 0 0 10px;
  width: 50px;
  white-space: nowrap;
}

#player_bank {
  position: relative;
  left: 90px;
  margin-top: 10px;
  font-size: 1.2em;
}



/*====================*/
/*Cards*/
/*====================*/

.card {
  position: relative;
  display: inline-block;
  height: 90%;
  width: 12%;
  background-color: white;
  /*border: 1px solid black;*/
  border-radius: 5px;
  margin: 1px;
  z-index: -999;
  overflow: hidden;
}

.suit {
  position: absolute;
  top: 0;
  left: 0;
  height: 50px;
  width: 50px;
  background-image: url(../img/rsz_suits.png);
  background-size: 100%;
  margin-top: -25px;
  margin-left: -25px;
}

.heart {
  background-position: 0 -25px;
}

.spade {
  background-position: -25px -25px;
}

.diamond {
  background-position: -25px -50px;
}

.club {
  background-position: -25px -25px;
}

.card_number {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 20px;
  width: 20px;
  /*border: 1px solid black;*/
  margin: 0 5px 5px 0;
  text-align: center;
  font-size: 14pt;
}